In [1]:
first_name="Akanksha"  #no namespace while declaration
print(first_name)

Akanksha

In [2]:
name1="Shreyansh"   #number should be either in between or at end
print(name1)

Shreyansh

In [3]:
name2='Noah'    #string declaration using single quotes
print(name2)

Noah

In [4]:
name3="Trinity"    #string declaration using double quotes
print(name3)

Trinity

In [5]:
name4="""Rachel"""  #string declaration using triple quotes
print(name4)

Rachel

In [6]:
type(first_name)       #verifying the datatype using type method

str

In [7]:
type(name1)

str

In [8]:
type(name2)

str

In [9]:
type(name3)

str

In [10]:
type(name4)

str

In [11]:
full_name="akanksha dhage"
print(full_name)

akanksha dhage

In [12]:
print(full_name.title())      #using .title() parenthesis for getting capitalized word

Akanksha Dhage

In [13]:
print(full_name.upper())      #using  .upper() to get in capital letters

AKANKSHA DHAGE

In [14]:
print(full_name.lower())     #using .lower() to get small case letters

akanksha dhage